<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="EsccWebTeam.Data.Xml">
      <section name="Proxy" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
    <sectionGroup name="EsccWebTeam.EastSussexGovUK">
      <section name="GeneralSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="BreadcrumbTrail" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="DesktopMasterPages" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="MobileMasterPages" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="RemoteMasterPage" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
    <sectionGroup name="Escc.Web.Metadata">
      <section name="EgmsWebMetadata" type="Escc.Web.Metadata.EgmsWebMetadataSectionHandler,Escc.Web.Metadata, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="Escc.ClientDependencyFramework">
      <section name="CssFiles" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="MediaQueries" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="ScriptFiles" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <section name="exceptionless" type="Exceptionless.Configuration.ExceptionlessSection, Exceptionless"/>
  </configSections>
  <exceptionless apiKey="API_KEY_HERE"/>
  <Escc.Web.Metadata>
    <EgmsWebMetadata creator="Web Team" errorMode="On" titlePattern="{0} &amp;#8211; East Sussex County Council"/>
  </Escc.Web.Metadata>
  <Escc.ClientDependencyFramework>
    <CssFiles>
      <add key="ContentSmall" value="/escc.eastsussexgovuk/css/content-small.css" />
      <add key="ContentMedium" value="/escc.eastsussexgovuk/css/content-medium.css" />
      <add key="ContentLarge" value="/escc.eastsussexgovuk/css/content-large.css" />
    </CssFiles>
    <ScriptFiles>
    </ScriptFiles>
    <MediaQueries>
      <add key="Medium" value="only screen and (min-width: 474px)" />
      <add key="Large" value="only screen and (min-width: 802px)" />
    </MediaQueries>
  </Escc.ClientDependencyFramework>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5"/>
    <pages masterPageFile="~/masterpages/mobile.master">
      <controls>
        <add tagPrefix="EastSussexGovUK" namespace="EsccWebTeam.EastSussexGovUK" assembly="EsccWebTeam.EastSussexGovUK, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
        <add tagPrefix="EastSussexGovUK" namespace="EsccWebTeam.EastSussexGovUK.MasterPages.Controls" assembly="EsccWebTeam.EastSussexGovUK, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
        <add tagPrefix="EastSussexGovUK" tagName="Share" src="~/masterpages/controls/share.ascx" />
        <add tagPrefix="ClientDependency" namespace="Escc.ClientDependencyFramework.WebForms" assembly="Escc.ClientDependencyFramework.WebForms" />
        <add tagPrefix="Metadata" namespace="Escc.Web.Metadata" assembly="Escc.Web.Metadata" />
      </controls>
    </pages>
  </system.web>
  <!--<EsccWebTeam.Data.Xml>
    <Proxy>
      <add key="Server" value=""/>
      <add key="User" value=""/>
      <add key="Domain" value=""/>
      <add key="Password" value=""/>
    </Proxy>
  </EsccWebTeam.Data.Xml>-->
  <EsccWebTeam.EastSussexGovUK>
    <GeneralSettings>
      <add key="PlainMasterPage" value="~/masterpages/plain.master"/>
      <add key="MasterPageParameterName" value="template"/>
    </GeneralSettings>
    <BreadcrumbTrail>
      <add key="Home" value="/"/>
      <add key="Adult social care and health" value="/socialcare/"/>
      <add key="About us" value="/socialcare/about-us/" />
    </BreadcrumbTrail>
    <DesktopMasterPages>
      <add key="/" value="~/masterpages/desktop.master"/>
    </DesktopMasterPages>
    <MobileMasterPages>
      <add key="/" value="~/masterpages/mobile.master"/>
    </MobileMasterPages>
    <RemoteMasterPage>
      <add key="CacheMinutes" value="60"/>
      <add key="MasterPageControlUrl" value="https://www.eastsussex.gov.uk/masterpages/remote/control.aspx?control={0}"/>
    </RemoteMasterPage>
  </EsccWebTeam.EastSussexGovUK>
  <system.webServer>
    <modules>
      <add name="MasterPageModule" type="EsccWebTeam.EastSussexGovUK.MasterPages.MasterPageModule, EsccWebTeam.EastSussexGovUK"/>
      <add name="ExceptionlessModule" type="Exceptionless.Web.ExceptionlessModule, Exceptionless.Web" />
    </modules>
  </system.webServer>
</configuration>