<div class="article">
    <article>
        <div class="content text-content">
            <h1>Translation service</h1>

            <ul>
                <li><a href="#subtitle1">Albanian</a></li>
                <li><a href="#subtitle2">Portugese</a></li>
                <li><a href="#subtitle3">Czech</a></li>
                <li><a href="#subtitle4">Turkish</a></li>
                <li><a href="#subtitle5">Russian</a></li>
                <li><a href="#subtitle7">Kurdish Sorani</a></li>
                <li><a href="#subtitle8">Mandarin or Cantonese</a></li>
                <li><a href="#subtitle11">Arabic</a></li>
                <li><a href="#subtitle12">Web pages in your language</a></li>
            </ul>

            <h2>Leaflets in your language</h2>

            <p>
                If you would like one of the Adult Social Care's information leaflets
                or publications translated into your language, please
                <a href="https://www.eastsussex.gov.uk/socialcare/getting-help-from-us/contact-adult-social-care/">contact Adult Social Care</a>
                on 0345 60 80 191.
            </p>

            <p>
                Leave a message giving the title
                of the leaflet and the language you would like it translated into, together
                with your name and address.
            </p>

            <h3 id="subtitle1">Leaflets in Albanian</h3>
            <p lang="sq" xml:lang="sq">
                Në qoftë se dëshironi që ky material të përkthehet në gjuhën tuaj, ju lutem
                telefononi <span lang="en" xml:lang="en">Social Care Direct</span>
                në numrin 0345 60 80 191 dhe lini mesazh për të na dhënë titullin e broshurës, gjuhën në të
                cilën doni të përkthehet kjo broshurë si edhe emrin dhe adresën tuaj.
            </p>

            <h3 id="subtitle2">Leaflets in Portugese</h3>
            <p lang="pt" xml:lang="pt">
                No caso de pretender obter a tradução no seu idioma, entre em
                contacto por favor com o <span lang="en" xml:lang="en">Social Care Direct</span>
                através do telefone número 0345 60 80 191,
                deixando mensagem com o título do folheto, identificando o idioma pretendido, juntamente com o seu
                nome e endereço.
            </p>

            <h3 id="subtitle3">Leaflets in Czech</h3>
            <p lang="cs" xml:lang="cs">
                Jestliže by jste chtěli tyto informace přeložit do vašeho jazyka, prosím
                kontaktujte <span lang="en" xml:lang="en">Social Care Direct</span> no telefoním
                čísle 0345 60 80 191 a zanechte zprávu udávající, název letáku, jazyk do kterého si přejete uvedený překlad,
                spolu s vaším jménem a adresou.
            </p>

            <h3 id="subtitle4">Leaflets in Turkish</h3>
            <p lang="tr" xml:lang="tr">
                Bu bilgilerin kendi dilinize çevrilmesini istiyorsanız, lütfen
                <span lang="en" xml:lang="en">Social Care Direct</span> ile 0345 60 80 191 telefon
                ile kontak kurunuz veya kendi dilinize çevrilmesini istediğiniz kitapcığın başlığı ile çevrilmesini
                istediğiniz dil, adınız ve adresinizi mesaj olarak bırakınız.
            </p>

            <h3 id="subtitle5">Leaflets in Russian</h3>
            <p lang="ru" xml:lang="ru">
                Если Вы хотите, чтобы эта информация была лереведена на Ваш язык,
                поҗалуйста, Вы моҗете сообщить об зтом агентству по переводам <span lang="en" xml:lang="en">Social Care Direct</span>
                по телефону 0345 60 80 191. Поҗалуйста, предоставьте информацию о названии брошюры, на какой язык Вы
                хотите, чтобы эта брошюра была переведена, а такҗе своё имя и адрес.
            </p>


            <h3 id="subtitle7">Leaflets in Kurdish Sorani</h3>
            <p lang="ku" xml:lang="ku">
                ئةطةر دةتةوصت ئةم زانياريانة تةرجومة بكرصت بؤ زماني خؤت، ئةوة تكاية ثةيوةندي بكة بة
                لةسةر ذمارة تةلةفؤني <span lang="en" xml:lang="en">Social Care Direct</span>
                و ثةيامصك بةجصبهصلَة كة تصيدا ناوي ئةو بلآوكراوةيةي كة دةتةوصت 0345 60 80 191
                تةرجومة بكرصت و ناوي ئةو زمانةي كة بؤي تةرجومة بكرصت بلَص و، هةروةها لةطةلَ ئةمةشدا
                ناو و ئةدرةسي خؤت بةجصبهصلَة.
            </p>

            <h3 id="subtitle8">Leaflets in Mandarin or Cantonese</h3>
            <p lang="zh" xml:lang="zh">
                如果你希望有关信息翻译成你的母语，请与东南翻译服务 <span lang="en" xml:lang="en">(Social Care Direct)</span>  联系，请打电话 0345 60 80 191 并留言所需传单的标题，要翻译成的语言，及你的姓名和地址。
            </p>


            <h3 id="subtitle11">Leaflets in Arabic</h3>
            <p lang="ar" xml:lang="ar">
                إذا كنت توّد أن تترجم هذه المعلومات الى لغتك، فيرجى الأتصال ﺒ :
                <span lang="en" xml:lang="en">Social Care Direct</span> على الرقم 0345 60 80 191
                و أترك رسالة صوتية تتضمن عنوان النشرة و اللغة التي تريد ترجمتها إليها بالأضافة الى إسمك وعنوانك البريدي.
            </p>

            <h2 id="subtitle12">Web pages in your language</h2>

            <p>
                If you would like any page on this website translated into your
                language, click on the link to your language in the footer of the page.
            </p>

            <p>
                East Sussex County Council is not responsible for this service and
                cannot guarantee the accuracy of the translations available.
            </p>
        </div>
        @Html.Partial("~/Views/EastSussexGovUK/Features/_Share.cshtml")
    </article>
</div>
@Html.Partial("~/Views/EastSussexGovUK/Features/_EastSussex1Space.cshtml")